* {
    font-family: arial;
    white-space: normal !important;
    word-wrap: break-word;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    // background-color: #E0E0E0;
    background-color: #F0F0F0;
    margin: 0 0 120px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 80px;
}

.navigation {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 17px -6px gray;
    align-items: center;
    background-color: #F8F8F8;
    &__header {
        margin: 8px;
    }
    &__image {
        width: 40px;
        height: 40px;
        margin: 5px;
        cursor: pointer;
    }
    &__image__calc {
        position: absolute;
        margin: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        right: 0;
    }
}

.footer {
    background-color: #F8F8F8;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}

.info {
    text-align: left;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 10px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    &:hover {
        box-shadow: 3px 3px 5px 6px #B0B0B0;
    }
}

.background__one {
    background-image: url('../../img/white-logo-zsoit.png');
}

.background__two {
    background-image: url('../../img/white-background-logo-zsoit.png');
}

.item {
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin: 10px;
    &:hover {
        cursor: pointer;
        background-color: lightcoral;
        color: white;
    }
    &:hover>.item__paragraph {
        color: white;
    }
    &__paragraph {
        color: green;
        &:hover {
            color: white;
        }
    }
}

#dayName {
    font-size: 40px;
}

h3 {
    color: chocolate;
    font-size: 30px;
}

a,
a:visited,
a:focus {
    color: red;
    text-decoration: none;
}

p {
    font-weight: 500;
}

#df {
    color: red;
}

button {
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 100%;
    padding: 12px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    border: none;
    background-origin: content-box;
    border: medium none;
    border-spacing: 0;
    overflow: visible;
    &:focus,
    &:hover {
        background-color: red;
        color: white;
        border-radius: 100%;
        outline: 0;
    }
}

#avg {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    &:hover {
        background-color: red;
    }
}

.copyright {
    font-size: 12px;
    padding: 10px;
}